# encoding:utf-8
import os.path
 
SITE_SRC_ROOT = os.path.dirname(__file__) 
LOG_FILENAME = 'django.lanai.log'
 
#for logging
import logging
logging.basicConfig(filename=os.path.join(SITE_SRC_ROOT, 'log', LOG_FILENAME), level=logging.DEBUG,)
 
DATABASE_NAME = ''             # Or path to database file if using sqlite3.
DATABASE_USER = ''               # Not used with sqlite3.
DATABASE_PASSWORD = ''               # Not used with sqlite3.
DATABASE_ENGINE = ''  #mysql, etc
 
#Moved from settings.py for better organization. (please check it up to clean up settings.py)
 
#email server settings
SERVER_EMAIL = ''
DEFAULT_FROM_EMAIL = 'admin@yoursite.com'
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_SUBJECT_PREFIX = '[cnprog.com]'
EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT='587'
EMAIL_USE_TLS=True
 
#LOCALIZATIONS
TIME_ZONE = 'Asia/Chongqing Asia/Chungking'
# LANGUAGE_CODE = 'en-us'
 
#OTHER SETTINGS
APP_TITLE = u'CNProg.com 程序员问答社区'
APP_KEYWORDS = u'技术问答社区，中国程序员，编程技术社区，程序员社区，程序员论坛，程序员wiki，程序员博客'
APP_DESCRIPTION = u'中国程序员的编程技术问答社区。我们做专业的、可协作编辑的技术问答社区。'
APP_INTRO = u' <p>CNProg是一个<strong>面向程序员</strong>的可协作编辑的<strong>开放源代码问答社区</strong>。</p><p> 您可以在这里提问各类<strong>程序技术问题</strong> - 问题不分语言和平台。 同时也希望您对力所能及的问题，给予您的宝贵答案。</p>'
APP_COPYRIGHT = 'Copyright CNPROG.COM 2009'
 
USE_I18N = True
LANGUAGE_CODE = 'en'
EMAIL_VALIDATION = 'off'
MIN_USERNAME_LENGTH = 1
EMAIL_UNIQUE = False
APP_URL = 'http://server.com' #used by email notif system and RSS
GOOGLE_SITEMAP_CODE = '55uGNnQVJW8p1bbXeF/Xbh9I7nZBM/wLhRz6N/I1kkA='
GOOGLE_ANALYTICS_KEY = ''