{% extends "base.html" %}
<!-- changepw.html -->
{% load i18n %}

{% block head %}
		
{% endblock %}



{% block content %}
<div id="main-bar" class="">
    <h3>
        {% trans "Account: change password" %}
    </h3>
</div>
<p>{% blocktrans %}This is where you can change your password. Make sure you remember it!{% endblocktrans %}</p>
{% if form.errors %}
<p class="errors">{% trans "Please correct errors below:" %}<br />
{{ form.errors }}
</p>
{% endif %}

<div class="aligned">
	<form action="." method="post" accept-charset="utf-8">

		<div id="form-row"><label for="id_oldpw">{% trans "Current password" %}</label>{{ form.oldpw }}</div>
		<div id="form-row"><label for="id_password1">{% trans "New password" %}</label>{{ form.password1 }}</div>
		<div id="form-row"><label for="id_password2">{% trans "New password again" %}</label>{{ form.password2 }}</div>
        <p><input type="submit" value="{% trans "Change password" %}"></p>

	</form>
	</div>
{% endblock %}
<!-- end changepw.html -->
