{% extends "base.html" %}
<!-- changeopenid.html -->
{% load i18n %}

{% block content %}
<div id="main-bar" class="">
    <h3>
        {% trans "Account: change OpenID URL" %}
    </h3>
</div>

<p>{% blocktrans %}This is where you can change your OpenID URL. Make sure you remember it!{% endblocktrans %}</p>
{% if form.errors %}
<p class="errors">{% trans "Please correct errors below:" %}<br />
	{% if form.openid_url.errors %} 
		<span class="error">{{ form.openid_url.errors|join:", " }}</span>
	{% endif %}


</p>
{% endif %}
{% if msg %}
	<p class="errors">{{ msg }}</p>
{% endif %}

<div class="aligned">
	<form action="." method="post" accept-charset="utf-8">

		<div id="form-row"><label for="id_openid_url">{% trans "OpenID URL:" %}</label>{{ form.openid_url }}</div>
        <p><input type="submit" value="{% trans "Change OpenID" %}"></p>

	</form>
	</div>
{% endblock %}
<!-- end changeopenid.html -->
