{% extends "base_content.html" %}
<!-- complete.html -->
{% load i18n %}
{% block head %}{% endblock %}
{% block title %}{% spaceless %}{% trans "Connect your OpenID with this site" %}{% endspaceless %}{% endblock %}
{% block content %}
    <div id="main-bar" class="headNormal">
		{% trans "Connect your OpenID with your account on this site" %}
    </div>      
	<p id="completetxt" >
        <div class="message">
            {% blocktrans %}register new {{provider}} account info{% endblocktrans %}
        </div>
    	<p style="display:none">{% trans "This account already exists, please use another." %}</p>
	</p>

	{% if form1.errors %}
	<p class="errors">
        <span class="big">{% trans "Sorry, looks like we have some errors:" %}</span><br>
        <ul class="error-list">
		{% if form1.username.errors %} 
			<li><span class="error">{{ form1.username.errors|join:", " }}</span></li>
		{% endif %}
		{% if form1.email.errors %} 
			<li><span class="error">{{ form1.email.errors|join:", " }}</span></li>
		{% endif %}
        </ul>
	</p>
	{% endif %}
	{% if form2.errors %}
	<p class="errors">
        <span class="big">{% trans "Sorry, looks like we have some errors:" %}</span><br>
        <ul class="error-list">
		{% if form2.username.errors %} 
			<li><span class="error">{{ form2.username.errors|join:", " }}</span></li>
		{% endif %}
		{% if form2.password.errors %} 
			<li><span class="error">{{ form2.password.errors|join:", " }}</span></li>
		{% endif %}
       </ul>
	</p>
	{% endif %}

	<div class="login">
        <form name="fregister" action="{% url user_register %}" method="POST">
            {{ form.next }}
            <div class="form-row"><label for="id_username">{% trans "Screen name label" %}</label><br />{{ form1.username }}</div>
            <div class="form-row"><label for="id_email">{% trans "Email address label" %}</label><br />{{ form1.email }}</div>
            <div class="submit-row"><input type="submit" class="submit" name="bnewaccount" value="{% trans "create account" %}"></div>
		</form>
	</div>
	<div class="login" style="display:none">
        <form name="fverify" action="{% url user_register %}" method="POST">
            {{ form.next }}
			<fieldset style="padding:10px">
				<legend class="big">{% trans "Existing account" %}</legend>
				<div class="form-row"><label for="id_username">{% trans "user name" %}</label><br />{{ form2.username }}</div>
				<div class="form-row"><label for="id_passwordl">{% trans "password" %}</label><br />{{ form2.password }}</div>
				<!--todo double check translation from chinese 确认 = "Register" -->
				<div class="submit-row">
					<input type="submit" class="submit" name="bverify" value="{% trans "Register" %}"> 
					<a href="">{% trans "Forgot your password?" %}</a>
				</div>
			</fieldset>
		</form>
	</div>
{% endblock %}
<!-- end complete.html -->
