{% extends "base.html" %}
<!-- sendpw.html -->
{% load i18n %}
{% block title %}{% spaceless %}{% trans "Send new password" %}{% endspaceless %}{% endblock %}

{% block content %}
<div id="main-bar" class="">
    <h3>{% trans "Send new password" %}</h3>

</div>
<div class="paragraph">
{% trans "Lost your password? No problem - here you can reset it." %}<br>
{% trans "Please enter your username below and new password will be sent to your registered e-mail" %}
</div>
{% if form.errors %}
<p class="errors"><span class="big">{% "Sorry, looks like we have some errors:" %}</span><br>
	{% if form.username.errors %} 
		<span class="error">{{ form.username.errors|join:", " }}</span>
	{% endif %}
</p>
{% endif %}
{% if msg %}
    <div class="paragraph error">{{ msg }}</div>
{% endif %}

<div class="aligned">
	<form action="." method="post" accept-charset="utf-8">
		<div id="form-row"><label for="id_username">{% trans "User name" %}:</label>{{ form.username }}</div>

        <p style="padding-top:10px"><input type="submit" value="{% trans "Reset password" %}"> <a href="{% url user_signin %}">{% trans "return to login" %}</a></p>

	</form>
    <span class="darkred">{% trans "Note: your new password will be activated only after you click the activation link in the email message" %}</span>
</div>
{% endblock %}
<!-- end sendpw.html -->
