{% extends "base_content.html" %}
<!-- settings.html -->
{% load i18n %}

{% block head %}
<style type="text/css" media="screen">
    h4 {font-size:12pt;}
	dt, dd { padding:0 0 0.35em 0; }
	dt { float: left; width: 21ex;  }
	dd { margin-left: 23ex;  }
	
	#settings-options, #settings-intro { padding: 4em 1.5em;}
	#settings-options { min-height: 300px; border-left: 1px solid #333;}
	
	#settings-options h5 { font-weight: bold;}
</style>
{% endblock %}

{% block content %}
<div id="main-bar">
    <h3><strong>{{ request.user.username }} {% trans "Profile" %}</strong></h3>
</div>
<div id="settings-options">
	{% if msg %}
		<p class="error">{{ msg }}</p>
	{% endif %}

	<dl class="list-item">
        <dt>» <a href="{% url user_changepw %}">{% trans "Change password" %}</a></dt>
        <dd>{% trans "Give your  account a new password." %}</dd>
        <dt>» <a href="{% url user_changeemail %}">{% trans "Change email " %}</a></dt>
        <dd>{% trans "Add or update the email address associated with your account." %}</dd>
        {% if is_openid %}
        <dt>» <a href="{% url user_changeopenid %}">{% trans "Change OpenID %}</a></dt>
        <dd>{% trans "Change openid associated to your account" %}</dd>
        {% endif %}
        
        <dt>» <a href="{% url user_delete %}">{% trans "Delete account" %}</a></dt>
        <dd>{% trans "Erase your username and all your data from website" %}</dd>
	</dl>
</div>
{% endblock %}
<!-- end settings.html -->
