{% extends "base_content.html" %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}关于本站{% endspaceless %}{% endblock %}
{% block forejs %}
{% endblock %}
{% block content %}
<div class="headNormal">
关于本站
</div>

<div class="content">
    <p>
     CNProg 是<strong>一个面向中国程序员的免费技术问答社区</strong>。它是一个介于论坛、博客、维基和Digg之间的社区系统，基于Python和Django开发。<br>
     创办CNProg的灵感来自于国外知名QA社区<a href="http://www.stackoverflow.com">StackOverflow</a>，但是CNProg不仅仅是一个汉化版的SO。<br>
     我们通过开源社区来维护和更新源代码，你可以访问<strong><a href="http://code.google.com/p/cnprog/">这里</a></strong>获取本站的所有源代码（请注意源代码使用的授权许可）。<br>
     </p>
     <br>
     <p>
     <strong>我们不运作社区，由你来运作。</strong>CNProg 是<strong><a href="http://blog.cnprog.com/2009/01/%e7%94%a8%e6%88%b7%e9%a9%b1%e5%8a%a8%e7%9a%84%e6%8a%80%e6%9c%af%e7%a4%be%e5%8c%ba/">一个由用户来驱动的社区</a></strong>。每个用户不仅是管理员，也是社区功能需求的提出者。<br>
     社区内容是协作的，系统越信任你，你就在社区获得更多的管理权限，可以开始编辑问题或回答，
     帮助我们组织问题和答案，帮助需要帮助的广大程序员用户。<br>
     透明、开放、全民管理的运作模式是本网站的特点，我们希望通过CNProg让用户能够更加容易地寻求帮助，找到问题答案，解决实际的技术问题。
     </p>
     <p>
     我们关注国内程序员的成长!
     </p>

    <br>
    <h3 class="subtitle">你们是谁？</h3>
    <p>
    我们是一群奋斗在互联网的编程爱好者，和你一样，也是希望自己编写高质量软件的开发人员。
    我们的团队：
    </p>
    <table cellspacing="5" cellpadding="3">
        <tr>
            <td width="150px"><img src="/content/images/nophoto.png"></td>
            <td width="150px"><img src="/content/images/nophoto.png"></td>
            <td width="150px"><img src="/content/images/nophoto.png"></td>
            <td width="150px"></td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td>  </td>
            <td><a ></a></td>
        </tr>
        <tr>
            <td colspan="4" height="5"></td>
        </tr>
        <tr>
            <td width="150px"><img src="/content/images/nophoto.png"></td>
            <td width="150px"><img src="/content/images/nophoto.png"></td>
            <td width="150px"></td>
            <td width="150px"></td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
    </table>
    <p>
    欢迎访问我们的<strong><a href="http://blog.cnprog.com">团队Blog</a></strong>或查看更多介绍的<a href="/faq" class="big">CNProg FAQ</a>。
    </p>
</div>
{% endblock %}



