{% extends "base_content.html" %}
<!-- template about.html -->
{% load i18n %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}{% trans "About" %}{% endspaceless %}{% endblock %}
{% block forejs %}
{% endblock %}
{% block content %}
<div class="headNormal">
{% trans "About" %}
</div>

<div class="content">
	<p>edit file templates/about.html. Below are just suggestions of what can go here</p>
	<p>what is your site for?</p>
	<p>how does it work? what are roles of members?</p>
	<p>is there a place to find out more about this website?</p>
</div>
{% endblock %}
<!-- end template about.html -->
