<!-- template badges.html -->
{% extends "base.html" %}
{% load extra_tags %}
{% load humanize %}
{% load i18n %}
{% block title %}{% spaceless %}{% trans "Badges summary" %}{% endspaceless %}{% endblock %}
{% block forejs %}
       <script type="text/javascript">
        $().ready(function(){
            $("#nav_badges").attr('className',"on");
        });
         
        </script>
{% endblock %}
{% block content %}
<div class="headlineA">
        <span class="headMedals">{% trans "Badges" %}</span>
</div>
<div id="main-body" style="width:100%">
    <p>
	{% trans "Community gives you awards for your questions, answers and votes." %}<br>
	{% trans "Below is the list of available badges and number of times each type of badge has been awarded." %}
    </p>
    <br>
    <div id="medalList">
        {% for badge in badges %}
        <div style="clear:both;line-height:30px">
            <div style="float:left;min-width:30px;text-align:right;height:30px">
            {% for a in mybadges %}
                {% ifequal a.badge_id badge.id %}
                 <span style="font-size:175%; padding-right:5px; color:#5B9058;">&#10004;</span>
                {% endifequal %}
            {% endfor %}
            </div>
            <div style="float:left;width:180px;">
                <a href="{{badge.get_absolute_url}}" title="{{ badge.get_type_display }} : {{ badge.description }}" class="medal"><span class="badge{{ badge.type }}">&#9679;</span>&nbsp;{{ badge.name }}</a><strong> × {{ badge.awarded_count|intcomma }}</strong>
            </div>
            <p style="float:left;width:350px;">
                {{ badge.description }}
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block sidebar %}

<div class="boxB">
    <h3>{% trans "Community badges" %}</h3>
    <div class="body">
    <p>
        <a style="cursor:default;" title="gold badge: the highest honor and is very rare" class="medal"><span class="badge1">&#9679;</span>&nbsp;{% trans "gold" %}</a>
    </p>
    <p>
    {% trans "Gold badge is very rare." %}
	{% trans "To obtain it you have to show profound knowledge and ability in addition to actively participating in the community." %}
	{% trans "Gold badge is the highest award in this community." %}
    </p>
    <p>
        <a style="cursor:default;" 
			title="silver badge: occasionally awarded for the very high quality contributions" 
			class="medal"><span class="badge2">&#9679;</span>&nbsp;{% trans "silver" %}</a>
    </p>
    <p>
	{% trans "Obtaining silver badge requires significant patience." %}
	{% trans "If you got one, you've very significantly contributed to this community" %}
    </p>
    <p>
        <a style="cursor:default;" title="{% trans "bronze badge: often given as a special honor" %}" class="medal">
		<span class="badge3">&#9679;</span>&nbsp;{% trans "bronze" %}</a>
    </p>
    <p>
	{% trans "If you are active in this community, you will will get this medal - still it is a special honor." %}
    </p>
    </div>
</div>
{% endblock %}
<!-- end template badges.html -->
