<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!-- base_content.html -->
{% load i18n %}
<html>
    <head>
        <title>{% block title %}{% endblock %} - {{ settings.APP_TITLE }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="verify-v1" content="{{ settings.GOOGLE_SITEMAP_CODE }}" />
        <link rel="shortcut icon" href="/content/images/favicon.ico" >
        <link href="/content/style/style.css" rel="stylesheet" type="text/css" />
		 {% spaceless %}
        {% block forestyle %}{% endblock %}
        {% endspaceless %}
        <script src="http://www.google.com/jsapi"></script>
        <script>google.load("jquery", "1.2.6");</script>
		<script type="text/javascript">
			var i18nLang = '{{ settings.LANGUAGE_CODE }}';
		</script>
        <script type='text/javascript' src='/content/js/com.cnprog.i18n.js'></script>
	    <script type='text/javascript' src='/content/js/jquery.i18n.js'></script>
        <script type='text/javascript' src='/content/js/com.cnprog.utils.js'></script>

       <!-- <script type="text/javascript">
        var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
        document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
        </script>
        <script type="text/javascript">
        UserVoice.Tab.show({ 
			//EDIT!!!
            key: 'uservoicekey',
            host: 'where.uservoice.com', 
            forum: 'general', 
            alignment: 'left', /* 'left', 'right' */
            background_color:'#777', 
            text_color: 'white', /* 'white', 'black' */
            hover_color: '#06C',
            lang: 'en' /* 'en', 'de', 'nl', 'es', 'fr' */
        })
        </script>-->
		<!-- todo move this to settings-->

        {% if messages %}
        <style type="text/css">
            body { margin-top:2.4em; }
        </style>
        <script type="text/javascript">
            $().ready(function() {
                var element = $('#validate_email_alert')
                element.click(function(){notify.close(true);setTimeout(function(){},1000)})
                notify.show();
            });
        </script>
        {% endif %}
      
        {% block forejs %}
        {% endblock %}
    </head>
    <body>
        <div class="notify" style="display:none">
            {% autoescape off %}
                {% if messages %}
                    {% for message in messages %}
                          <p class="darkred">{{ message }}<p>
                    {% endfor %}
                {% endif %}
            {% endautoescape %}
            <a id="close-notify" onclick="notify.close(true)">&times;</a>
        </div>
        {% include "header.html" %}
        <div id="wrapper">
            <div id="room">
                <div id="CAFull">
                    {% block content%}
                    {% endblock%}

                </div>
                <div id="tail" style="clear:both;">
                    {% block tail %}
                    {% endblock %}
                </div>
            </div>
            <div class="spacer3"></div>
        </div>
        {% include "footer.html" %}
        {% block endjs %}
        {% endblock %}
    </body>
</html>
<!-- end template base_content.html -->
