{% extends "base_content.html" %}
<!-- template close.html -->
{% load i18n %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}{% trans "Close question" %}{% endspaceless %}{% endblock %}
{% block forejs %}
       <script type="text/javascript">
        $().ready(function(){
            $('#btBack').bind('click', function(){ history.back(); });
        });
        </script>
{% endblock %}
{% block content %}
<div id="main-bar" class="headNormal">
	{% trans "Close question" %}
</div>
<div id="main-body" style="width:100%;margin-bottom:10px">
    <p>{% trans "Close the question" %}: <a href="{{ question.get_absolute_url }}">
    <strong>{{ question.get_question_title }}</strong></a>
    </p>   
    
    <form id="fmclose" action="{% url close question.id %}" method="post" >
        <p>
            <strong>{% trans "Reasons" %}:</strong> {{ form.reason }}
        </p>
        <div id="" style="padding-top:20px">
            <input type="submit" value="{% trans "OK to close" %}" class="submit" />
            <input id="btBack" type="button" class="submit" value="{% trans "Cancel" %}"  />
            
        </div>
        
    </form>
</div>
{% endblock %}
<!-- end template close.html -->
