{% load extra_tags %}
{% load i18n %}
    <div id="ground">
        <div class="footerLinks" >
            <a href="/about">{% trans "About us" %}</a><span class="link-separator"> |</span>
            <a href="/faq">{% trans "faq" %}</a><span class="link-separator"> |</span>
            <a href="http://blog.cnprog.com">Blog</a><span class="link-separator"> |</span>
            <a href="mailto:team@cnprog.com">{% trans "Contact" %}</a><span class="link-separator"> |</span>
            <a href="/privacy">{% trans "Privacy" %}</a><span class="link-separator"> |</span>
            <a href="http://cnprog.uservoice.com" target="_blank">{% trans "Feedback" %}</a>
        </div>
	  <p style="margin-top:10px;">
         <a href="http://code.google.com/p/cnprog/" target="_blank">
            <img src="/content/images/djangomade124x25_grey.gif" border="0" alt="Made with Django." title="Made with Django." >
         </a>
      </p>
	  <p style="margin-top:-30px; margin-right:15px;" class="fright"><img src="/content/images/cc-wiki.png" title="Creative Commons: Attribution - Share Alike" alt="cc-wiki" width="50" height="68" /></p>
	</div>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script type="text/javascript">
            try {
            var pageTracker = _gat._getTracker("UA-248512-5");
            pageTracker._trackPageview();
            } catch(err) {}
        </script>
