<!-- template footer.html -->
{% load extra_tags %}
{% load i18n %}
<!-- 页面底部开始： -->
    <div id="ground">
        <div class="footerLinks" >
            <a href="/about">{% trans "about" %}</a><span class="link-separator"> |</span>
            <a href="/faq">{% trans "faq" %}</a><span class="link-separator"> |</span>
            <a href="{{ blog_url }}">{% trans "blog" %}</a><span class="link-separator"> |</span>
            <a href="{{ webmaster_email }}">{% trans "contact us" %}</a><span class="link-separator"> |</span>
            <a href="/privacy">{% trans "privacy policy" %}</a><span class="link-separator"> |</span>
            <a href="{{ feedback_url }}" target="_blank">{% trans "give feedback" %}</a>
        </div>
	  <p style="margin-top:10px;">
         <a href="http://code.google.com/p/cnprog/" target="_blank">
            <img src="/content/images/djangomade124x25_grey.gif" border="0" alt="Made with Django." title="Made with Django." >
         </a>
         <!--<div style="font-size:90%;color:#333">{% trans "current revision" %}: R-0120-20090406</div>-->
      </p>
	  <p id="licenseLogo"><img src="/content/images/cc-wiki.png" title="Creative Commons: Attribution - Share Alike" alt="cc-wiki" width="50" height="68" /></p>
	</div>
	<!-- 页面底部结束： -->
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script type="text/javascript">
            try {
            var pageTracker = _gat._getTracker({{ settings.GOOGLE_ANALYTICS_KEY }});
            pageTracker._trackPageview();
            } catch(err) {}
        </script>
<!-- end template footer.html -->
