{% extends "base.html" %}
{% load extra_tags %}
{% load humanize %}
{% load extra_filters %}
{% load i18n %}
{% block title %}{% spaceless %}{% trans "Home" %}{% endspaceless %}{% endblock %}
{% block meta %}<meta name="keywords" content="{{ APP_KEYWORDS }}" />
        <meta name="description" content="{{ APP_DESCRIPTION }}" />{% endblock %}
{% block forejs %}
       <script type="text/javascript">
        $().ready(function(){
            var tab_id = "{{ tab_id }}";
            $("#"+tab_id).attr('className',"on");
            $("#nav_questions").attr('className',"on");
        });

        </script>
{% endblock %}
{% block content %}
<div class="tabBar">
    <div class="headQuestions">{% trans "Questions" %}</div>
    <div class="tabsA">
    	 <a id="latest" href="?sort=latest" title="{% trans 'Newest updated questions' %}" >{% trans "Newest" %}</a>
        <a id="hottest" href="?sort=hottest" title="{% trans 'Questions with most answers' %}" >{% trans "Hottest" %}</a>
        <a id="mostvoted" href="?sort=mostvoted" title="{% trans 'Questions with most votes' %}" >{% trans "Best" %}</a>
        <a id="all" href="/questions/" title="{% trans 'All questions' %}" >{% trans "All" %}</a>
    </div>
</div>
<div id="listA">
    {% for question in questions %}
    <div class="qstA">
        <h2>
            <a href="{{ question.get_absolute_url }}" title="{{ question.summary }}...">
            {{ question.get_question_title }}
            </a>
        </h2>
        <div class="stat">
            <table>
	            <tr>
                    <td><span class="num">{{ question.answer_count|intcomma }}</span> </td>
                    <td><span class="num">{{ question.score|intcomma }}</span> </td>
                    <td><span class="num">{{ question.view_count|cnprog_intword|safe }}</span> </td>
	            </tr>  
                <tr>
                    <td><span class="unit">{% trans "Answers" %}</span></td>
                    <td><span class="unit">{% trans "Votes" %}</span></td>
                    <td><span class="unit">{% trans "Visits" %}</span></td>
	            </tr> 
            </table>
        </div>
        <div class="summary">
            {{ question.summary }}...
        </div>
        {% if question.wiki %}
        <span class="from wiki">{% trans "Community wiki" %}</span>
        <span class="date" title="{{ question.last_activity_at }}">{% diff_date question.last_activity_at %}</span>
        {% else %}
        <div class="from">
            {% comment %}{% gravatar question.last_activity_by 24 %}{% endcomment %}
            <span class="author"><a href="{{ question.last_activity_by.get_profile_url }}">{{ question.last_activity_by }}</a></span>
            <span class="score">{% get_score_badge question.last_activity_by %} </span>
            <span class="date" title="{{ question.last_activity_at }}">{% diff_date question.last_activity_at %}</span>
        </div>
        {% endif %}
        <div class="tags">
        {% for tag in question.tagname_list %}
        <a href="{% url forum.views.tag tag|urlencode %}" title="{% trans 'Browse questions with tag of ' %}'{{ tag }}'" rel="tag">{{ tag }}</a>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block sidebar %}
{% if not request.user.is_authenticated %}
<div class="boxA">
	<h3>{% trans "Welcome" %}</h3>
	<div class="body">
        {{ APP_INTRO|safe }}
	  <div class="more"><a href="/about">{% trans "About us" %} »</a></div>
	  <div class="more"><a href="/faq">FAQ »</a></div>
	</div>
</div>
{% endif %}
<div class="boxB">
	<h3>{% trans "Recent tags" %}</h3>
	<div class="body">
         <p class="tagsbox">
        {% for tag in tags %}
            <a rel="tag" title="{% trans 'Browse questions with tag of ' %}'{{ tag.name }}'" href="{% url forum.views.tag tag.name|urlencode %}">{{ tag.name }}</a>
        {% endfor %}
        </p>
        <div class="more"><a href="/tags">{% trans "Popular tags" %} »</a> </div>
    </div>
</div>
<div class="boxB">
    <h3>{% trans "Recent badges" %}</h3>
        <div class="body">
             <ul class="badge-list">
             {% for award in awards %}
                <li>
                <a href="/badges/{{award.badge_id}}/{{award.badge_name}}" title="{{ award.badge_description }}" class="medal">
                <span class="badge{{ award.badge_type }}">&#9679;</span>&nbsp;{{ award.badge_name }}</a> 
                <a href="/users/{{award.user_id}}/{{award.user_name}}">{{ award.user_name }}</a>
                </li>
            {% endfor %}
            </ul>
        	<div class="more"><a href="/badges/">{% trans "All badges" %} »</a> </div>
         </div>
</div>
<div id="feeds">
<a href="/feeds/rss" title="{% trans 'RSS feed of recent 30 questions' %}">{% trans "Subscribe" %}</a>
</div>
{% endblock %}
{% block tail %}
<div style="padding:5px 0 5px 5px;">
<span class="evenMore">{% trans "Are you looking for more questions? Try to browse" %} <a href="/questions/">{% trans "All questions" %}</a>{% trans " or "%} <a href="/tags/">{% trans "Popular tags" %}</a>{% trans ". Please help us answer "%}<a href="/questions/unanswered">{% trans "Unanswered questions" %}</a></span>
</div>
{% endblock %}
