<!-- template logout.html -->
{% extends "base_content.html" %}
{% load extra_tags %}
{% load humanize %}
{% load i18n %}
{% block title %}{% spaceless %}{% trans "Logout" %}{% endspaceless %}{% endblock %}
{% block forejs %}
    <script type="text/javascript">
    $().ready(function(){
        $('#btLogout').bind('click', function(){ window.location.href='{% url user_signout %}?next={{ next }}'; });
    
    });
    </script>
{% endblock %}
{% block content %}
<div  class="headNormal">
    {% trans "Logout" %} 
</div>
<div id="main-body" style="width:100%">
    <p>{% trans "As a registered user you can login with your OpenID, log out of the site or permanently remove your account." %}</p>
    <input id="btLogout" type="button" class="submit" value="{% trans "Logout now" %}"><!-- style="width:150px">-->
    <br><br>
</div>
{% endblock %}
<!-- ent template logout.html -->
