{% extends "base_content.html" %}
{% load extra_tags %}
{% load humanize %}
{% load i18n %}
{% block title %}{% spaceless %}{% trans "Logout" %}{% endspaceless %}{% endblock %}
{% block forejs %}
    <script type="text/javascript">
    $().ready(function(){
        $('#btLogout').bind('click', function(){ window.location.href='/account/signout/?next={{ next }}'; });
    
    });
    </script>
{% endblock %}
{% block content %}
<div  class="headNormal">
    {% trans "Logout" %}
</div>
<div id="main-body" style="width:100%">
    <input id="btLogout" type="button" class="submit" value="OK" style="width:150px">
    <br><br>
</div>
{% endblock %}



