{% extends "base_content.html" %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}退出登录{% endspaceless %}{% endblock %}
{% block forejs %}
    <script type="text/javascript">
    $().ready(function(){
        $('#btLogout').bind('click', function(){ window.location.href='/account/signout/?next={{ next }}'; });
    
    });
    </script>
{% endblock %}
{% block content %}
<div  class="headNormal">
    退出登录
</div>
<div id="main-body" style="width:100%">
    <p> 您是系统的<strong class="darkred">注册</strong>用户，可以随时使用OpenID帐号登录系统或者注销登录。 </p>
 
    <input id="btLogout" type="button" class="submit" value="点击退出登录" style="width:150px">
    <br><br>
</div>
{% endblock %}



