{% extends "base_content.html" %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}隐私政策{% endspaceless %}{% endblock %}
{% block forejs %}
{% endblock %}
{% block content %}
<div class="headNormal">
    隐私政策
</div>
<div id="main-body" style="width:100%">
    <p>
        CNProg承认用户隐私的重要性。本文件概述在您浏览CNProg过程中所接收和收集的个人信息的种类，以及CNProg所采取的保护信息的一些措施。CNProg希望这将有助于您在知情的情况下，就和我们共享个人信息的问题作出决定。
    </p>
    
        <h3 class="subtitle">网站访问者</h3>
    <p>    当您访问本网站或使用我们的某些在线服务时，服务器会自动记录信息，包括但不限于URL、IP地址、浏览器的类型、屏幕分辨率、系统类型和使用的语言以及访问日期和时间。我们的目的是为了向您提供更好的用户服务，包括可能为您提供定制的在线服务。
    </p>
    
        <h3 class="subtitle">个人身份信息</h3>
    <p>   在登录使用CNProg的提问和回答功能时，我们要求使用者提供用户名、密码、电子邮件等信息。CNProg收集这类关于个人身份的信息只是为了登录系统获得使用功能的目的。我们不会向任何其他社区用户、个人或第三方透露您的密码或者电子邮件信息。用户可以选择性地填写用户资料、个人网站、年龄、城市等信息，我们收集这些内容为了使用户能够更容易和更满意地使用CNProg提供的网页和服务。
    </p>
   
        <h3 class="subtitle">其他服务</h3>
     <p>   CNProg可能会收集和统计用户访问本站的概况数据。例如，CNProg可能会检测网站最流行的部分功能。CNProg可能会公开显示或者提供给第三方使用该数据。但是，CNProg不会公开您的身份信息。
    </p>
    
        <h3 class="subtitle">Cookie</h3>
    <p>        访问CNProg时，我们会向您的计算机发送一个或多个专门用于识别您的浏览器的Cookie（包含一个字符串的小文件）。 使用 Cookie 的目的是通过储存用户偏好、跟踪用户倾向（例如搜索方法）来提高我们的服务质量。大多数浏览器的初始设置均为接受 Cookie，但也可以将其重置为拒绝所有 Cookie 或在收到 Cookie 时提示。不过，如果禁用 Cookie，某些功能和服务可能无法正常运行。 
    </p>
    
        <h3 class="subtitle">政策更改</h3>
    <p>        我们可能在事先通知或不通知的情况下随时更改此"隐私政策"，我们建议用户时常查看CNProg隐私政策的改动，在任何改动生效后您的继续访问和使用本站，我们假设您已同意了CNProg以上的所有条款。
    </p>
    <br><br>
</div>
{% endblock %}



