{% extends "base.html" %}
{% load i18n %}
{% load extra_tags %}
{% load humanize %}
{% load extra_filters %}
{% block title %}{% spaceless %}{% trans "Question list" %}{% endspaceless %}{% endblock %}
{% block forejs %}
       <script type="text/javascript">
        $().ready(function(){
            var tab_id = "{{ tab_id }}";
            $("#"+tab_id).attr('className',"on");
            $("#nav_questions").attr('className',"on");
            Hilite.exact = false;
            Hilite.elementid = "listA";
            Hilite.debug_referrer = location.href;
        });
         
        </script>
{% endblock %}
{% block content %}
<div class="tabBar">
    <div class="headQuestions">{% if searchtag %}{% trans "Tagged questions" %}{% else %}{% if searchtitle %}{% trans "Query result" %}{% else %}{% trans "All questions" %}{% endif %}{% endif %}</div>
    <div class="tabsA">
        <a id="latest" href="?sort=latest" class="off" title="{% trans 'New questions' %}">{% trans "Newest" %}</a>
        <a id="active" href="?sort=active" class="off" title="{% trans 'Newest updated questions' %}">{% trans "Active" %}</a>
        <a id="hottest" href="?sort=hottest" class="off" title="{% trans 'Questions with most answers' %}">{% trans "Hottest" %}</a>
        <a id="mostvoted" href="?sort=mostvoted" class="off" title="{% trans 'Questions with most votes' %}">{% trans "Best" %}</a>    
    </div>
</div>
<div id="listA">
    {% for question in questions.object_list %}
    <div class="qstA">
        <h2>
            <a href="{{ question.get_absolute_url }}">{{ question.get_question_title }}</a>
        </h2>
        <div class="stat">
            <table>
	            <tr>
                    <td><span class="num">{{ question.answer_count|intcomma }}</span> </td>
                    <td><span class="num">{{ question.score|intcomma }}</span> </td>
                    <td><span class="num">{{ question.view_count|cnprog_intword|safe }}</span> </td>
	            </tr>  
                <tr>
                    <td><span class="unit">{% trans "Answers" %}</span></td>
                    <td><span class="unit">{% trans "Votes" %}</span></td>
                    <td><span class="unit">{% trans "Visits" %}</span></td>
	            </tr> 
            </table>
        </div>
        
        <div class="summary">
            {{ question.summary }}...                
        </div>
        
        {% ifequal tab_id 'active'%}
        {% if question.wiki %}
        <span class="from wiki">{% trans "Community wiki" %}</span>
        <span class="date" title="{{ question.added_at }}">{% diff_date question.added_at %}</span>
        {% else %}
        <div class="from">
            {% comment %}{% gravatar question.last_activity_by 24 %}{% endcomment %}
            <span class="author"><a href="{{ question.last_activity_by.get_profile_url }}">{{ question.last_activity_by }}</a></span>
            <span class="score">{% get_score_badge question.last_activity_by %} </span>
            <span class="date" title="{{ question.last_activity_at }}">{% diff_date question.last_activity_at %}</span>
        </div>
        {% endif %}
        {% else %}
        {% if question.wiki %}
        <span class="from wiki">{% trans "Community wiki" %}</span>
        <span class="date" title="{{ question.added_at }}">{% diff_date question.added_at %}</span>
        {% else %}
        <div class="from">
            {% comment %}{% gravatar question.author 24 %}{% endcomment %}
            <span class="author"><a href="{{ question.author.get_profile_url }}">{{ question.author }}</a></span>
            <span class="score">{% get_score_badge question.author %} </span>
            <span class="date" title="{{ question.added_at }}">{% diff_date question.added_at %}</span>
        </div>
        {% endif %}
        {% endifequal %}
        
        <div class="tags">
        {% for tag in question.tagname_list %}
        <a href="{% url forum.views.tag tag|urlencode %}" title="{% trans 'Browse questions with tag of '%}" rel="tag">{{ tag }}</a>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block tail %}
                            
                        <div class="pager">
                            {% cnprog_paginator context %}
                            
                        </div>
                        <div class="pagesize">
                            {% cnprog_pagesize context %}
                        </div>
                        
{% endblock %}

{% block sidebar %}
<div class="boxC">
    <p>
        您正在浏览所有<br><div class="questions-count">{{ questions_count|intcomma }}</div>
        <p>个
            {% if searchtag %}
                标记为
                <span class="tag">
                    {{ searchtag }} 
                </span>
            {% endif %}
            {% if searchtitle %}
                标题含有
                <strong class="darkred">
                    {{ searchtitle }}
                </strong>
            {% endif %}
         的问题。</p>
    </p>
</div>
<div class="boxC">
	<h3 class="subtitle">{% trans "Related tags" %}</h3>
    <div class="tags">
        {% for tag in tags %}
            <a rel="tag" href="{% url forum.views.tag tag.name|urlencode %}">{{ tag.name }}</a>
            <span class="tag-number">× {{ tag.used_count|intcomma }}</span>
            <br>
        {% endfor %}
        <br>
    </div>
</div>

{% endblock %}

