{% extends "base_content.html" %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}重设问题{% endspaceless %}{% endblock %}
{% block forejs %}
       <script type="text/javascript">
        $().ready(function(){
            $('#btBack').bind('click', function(){ history.back(); });
        });
        </script>
{% endblock %}
{% block content %}
<div id="main-bar" class="headNormal">
    重设问题
</div>
<div id="main-body" style="width:100%">
    <p>你将打开这个已经被关闭的问题： <a href="{{ question.get_absolute_url }}"><span class="big">{{ question.get_question_title }}</span></a>
    
    </p>   
    <p><strong>问题曾以“{{ question.get_close_reason_display }}”的原因被 <a href="{{ question.closed_by.get_profile_url }}">{{ question.closed_by.username }}</a> 于{% diff_date question.closed_at %}<font class="darkred">关闭</font>
        </strong>
    </p>
    
    <form id="fmclose" action="{% url reopen question.id %}" method="post" >

        <div id="" style="padding:20px 0 20px 0">
            <input type="submit" value="确定打开这个问题" class="submit" />
            <input id="btBack" type="button" value="取消"  class="submit"  />
            
        </div>
        
    </form>
</div>
{% endblock %}



