{% extends "user.html" %}
{% load extra_tags %}
{% load humanize %}

{% block usercontent %}
        <div style="padding:5px;">
        <fieldset>
            <legend><b>同步Twitter消息</b></legend>
            <form>
                <label for="name">账号:</label>
                <input id="name" /><br>
                <label for="password">密码:</label>
                <input id="password" type="password"/><br>
                <input id="cbMessage" type="checkbox" />发布我的提问到我的Twitter<br>
                <input id="cbReply" type="checkbox" />发布我的回答到我的Twitter<br>
                <input type="submit" value="保存" />
            </form>
        </fieldset>
        </div>
{% endblock %}
