<!-- users.html -->
{% extends "base_content.html" %}
{% load extra_tags %}
{% load humanize %}
{% load i18n %}
{% block title %}{% spaceless %}{% trans "Users" %}{% endspaceless %}{% endblock %}
{% block forejs %}
       <script type="text/javascript">
	   //todo move javascript out
        $().ready(function(){
            $("#nav_users").attr('className',"on");
            $("#type-user").attr('checked',true);
            var orderby = "{{ tab_id }}";
            $("#sort_" + orderby).attr('className',"on");
            
            Hilite.exact = false;
            Hilite.elementid = "main-body";
            Hilite.debug_referrer = location.href;
        });
        </script>
{% endblock %}
{% block content %}
<div class="tabBar">
    <div class="headUsers">{% trans "Users" %}</div>
    <div class="tabsA">
        <a id="sort_reputation" href="?sort=reputation" class="off" title="{% trans "reputation" %}">{% trans "reputation" %}</a>
        <a id="sort_newest" href="?sort=newest" class="off" title="{% trans "recent" %}">{% trans "recent" %}</a>
        <a id="sort_last" href="?sort=last" class="off" title="{% trans "oldest" %}">{% trans "oldest" %}</a>
        <a id="sort_user" href="?sort=user" class="off" title="{% trans "by username" %}">{% trans "by username" %}</a>
    </div>
</div>
<div id="main-body" style="width:100%">
    <p>        
        {% if suser %}
			{% blocktrans %}users matching query {{suser}}:{% endblocktrans %}
        {% endif %}
    
        {% if not users.object_list %}
            <span>{% trans "Nothing found." %}</span>
        {% endif %}
    </p>
    <div class="userList">
        <table class="list-table">
            <tr>    
                <td class="list-td">
                    {% for user in users.object_list %}
                    
                    <div class="user">
                        <ul>
                                <li class="thumb"><a href="{{ user.get_profile_url }}">{% gravatar user 32 %}</a></li>
                                <li><a href="{{ user.get_profile_url }}">{{user.username}}</a></li>
                                <li>{% get_score_badge user %}</li>
                            </ul>
                    </div>
                    
            {% if forloop.counter|divisibleby:"7" %}
                </td>
                <td>
            {% endif %}

                    {% endfor %}
                </td>
            </tr>   
        </table>
    </div>
</div>
{% endblock %}
{% block tail %}
<div class="pager">
    {% cnprog_paginator context %}
</div>              
{% endblock %}
<!-- end users.html -->
