<!-- user_recent.html -->
{% extends "user.html" %}
{% load extra_tags %}
{% load humanize %}

{% block usercontent %}
        <div style="padding-top:5px;font-size:13px;">
        {% for act in activities %}
            <div style="clear:both;line-height:20px" >
                <div style="width:180px;float:left">{% diff_date act.time 3 %}</div>
                <div style="width:150px;float:left">
                <span class="user-action-{{ act.type_id }}">{{ act.type }}</span>
                </div>
                <div style="float:left;overflow:hidden;">
                    {% ifequal act.type_id 7 %}
                    <a href="{{act.badge.get_absolute_url}}" title="{{ act.badge.get_type_display }} : {{ act.badge.description }}" class="medal"><span class="badge{{ act.badge.type }}">&#9679;</span>&nbsp;{{ act.badge.name }}</a>
                    {% else %}
                    <span class="post-type-{{ act.type_id }}"><a href="{{ act.title_link }}">{{ act.title }}</a></span>
                    {% if act.summary %}<span class="revision-summary">{{ act.summary }}</span>{% endif %}
                    {% endifequal %}
                    <div style="height:5px"></div>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}
<!-- end user_recent.html -->
