{% extends "user.html" %}
<!-- user_preferences.html -->
{% load i18n %}
{% load extra_tags %}
{% load humanize %}

{% block usercontent %}
        <div style="padding:5px;">
        <fieldset>
            <legend><b>{% trans "Connect with Twitter" %}</b></legend>
            <form>
                <label for="name">{% trans "Twitter account name:" %}</label>
                <input id="name" /><br>
                <label for="password">{% trans "Twitter password:" %}</label>
                <input id="password" type="password"/><br>
                <input id="cbMessage" type="checkbox" />{% trans "Send my Questions to Twitter" %}<br>
                <input id="cbReply" type="checkbox" />{% trans "Send my Answers to Twitter" %}<br>
                <input type="submit" value="{% trans "Save" %}" />
            </form>
        </fieldset>
        </div>
{% endblock %}
<!-- end user_preferences.html -->
