{% extends "user.html" %}
{% load extra_tags %}
{% load humanize %}

{% block usercontent %}
        <div style="padding-top:5px;font-size:13px;">
        {% for response in responses %}
            <div style="clear:both;line-height:18px">
                <div style="width:150px;float:left">{% diff_date response.time 3 %}</div>
                <div style="width:100px;float:left"><a href="{{ response.userlink }}">{{ response.username }}</a></div>
                <div style="float:left;overflow:hidden;width:680px">
                    <strong {% ifequal response.type "回答问题"%}class="user-action-2"{% endifequal %}{% ifequal response.type "最佳答案"%}class="user-action-8"{% endifequal %}>{{ response.type }}</strong>：
                    <a href="{{ response.titlelink }}">{{ response.title }}</a><br>
                    {{ response.content|safe }}
                    <div style="height:10px"></div>
                </div>

            </div>
        {% endfor %}
        </div>
{% endblock %}